{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% set navigationItems = [
  {
    href: "/home.html",
    text: 'Home',
    id: 'home'
  },{
    href: "/your-details/personal-information.html",
    text: 'Your details',
    id: 'your-details'
  },{
    href: "/applications/index",
    text: 'Applications',
    id: 'applications'
  },{
    href: "/messages/index",
    text: 'Messages',
    id: 'messages'
  },{
    href: "/projects",
    text: 'Projects',
    id: 'projects'
  }]
%} 
{% set activeLinkId = "applications" %}
{% set signOutLink = "/index" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {{ xGovukSubNavigation({
      visuallyHiddenTitle: "Navigation",
      items: [{
        text: "Your Applications",
        href: "/applications/index"
      }, {
        text: "Outcomes by subject",
        href: "/applications/outcomes"
      }, {
        text: "Approved areas",
        href: "/applications/approved-areas"
      }, {
        text: "Start another application",
        href: "/applications/new",
        current: true
      }]
    }) }}
  </div>
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Start another application</h1>
{% from "_components/task-list-2/macro.html"             import appTaskListItem %}

<!-- start of task list-->
<section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">1. Your details</h2>
    <ul class="app-task-list">
      {{ appTaskListItem({
        name: 'Confirm or update your work history',
        href: '/new/confirm-work-history',
        taskName: data.confirmWorkHistory
      })}}
      {{ appTaskListItem({
        name: 'Confirm or update your professional memberships',
        href: '/new/confirm-prof-memberships',
        taskName: data.confirmProfMemberships
      })}}
      {{ appTaskListItem({
        name: 'Confirm or update your education details',
        href: '/new/confirm-education',
        _href: '#',
        taskName: data.confirmEducation
      })}}
      {{ appTaskListItem({
        name: 'Confirm or update your conflicts of interest',
        href: '/new/confirm-conflicts',
        taskName: data.confirmConflicts
      })}}
    </ul>
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">2. Select what you want to apply for</h2>
    <ul class="app-task-list">
      {{ appTaskListItem({
        name: 'Reapply for previously unsuccessful areas',
        href: '/new/reapply',
        hint: "Apply for a new area",
        taskName: data.confirmReapply
      })}}
      {{ appTaskListItem({
        name: 'Apply for new areas',
        href: '/new/additional/apply-new-area',
        hint: "You can reapply for unsuccessful areas or apply for new ones",
        taskName: data.adviseAreasCompleted
      })}}
    </ul>
  </section>

<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-font-size-27">3. Evidence of experience</h2>
  <ul class="app-task-list">
    {# If the Subjects of experience is complete #}
    {% if data.adviseAreasCompleted == "complete" %}
        {{ appTaskListItem ({
            name: 'Assessment experience',
            href: '/assessment-type-answer',
            taskName: data.adviseAreasCompleted
        })}}
        {{ appTaskListItem ({
            name: 'Industry, occupational or professional experience',
            href: '/application/industry-experience',
            taskName: data.adviseAreasCompleted
        })}}
        {{ appTaskListItem ({
            name: 'Teaching, lecturing or training experience',
            href: '/teaching-experience',
            taskName: data.adviseAreasCompleted
        })}}
        {{ appTaskListItem({
        name: 'Further supporting evidence',
        href: 'application/further-evidence',
        taskName: data.adviseAreasCompleted
        })}}
        {# Otherwise Subjects of experience IS NOT complete #}
        {% else %}
        {{ appTaskListItem({
        name: 'Add evidence of your experience',
        href: 'application/',
        hint: "Complete the areas you want to apply for first",
        taskName: data.evidenceExpertiseCompleted
        })}}
    {% endif %}
  </ul>
</section>

<section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">4. Review and submit</h2>
    <ul class="app-task-list">
      {{ appTaskListItem({
        name: 'Review and submit your application',
        href: '/new/review',
        taskName: data.educationCompleted
      })}}
    </ul>
  </section>

<!-- End of task list-->

</div>
</div>
{% endblock %}