{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% set navigationItems = [
  {
    href: "/home.html",
    text: 'Home',
    id: 'home'
  },{
    href: "/your-details/personal-information.html",
    text: 'Your details',
    id: 'your-details'
  },{
    href: "/applications/index",
    text: 'Applications',
    id: 'applications'
  },{
    href: "/messages/index",
    text: 'Messages',
    id: 'messages'
  },{
    href: "/projects",
    text: 'Projects',
    id: 'projects'
  }]
%} 
{% set activeLinkId = "applications" %}
{% set signOutLink = "/index" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {{ xGovukSubNavigation({
      visuallyHiddenTitle: "Navigation",
      items: [{
        text: "Your Applications",
        href: "/applications/index"
      }, {
        text: "Outcomes by subject",
        href: "/applications/outcomes"
      }, {
        text: "Approved areas",
        href: "/applications/approved-areas"
      }, {
        text: "Start another application",
        href: "/applications/new",
        current: true
      }]
    }) }}
  </div>
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Confirm or update your conflicts of interest</h1>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Advanced Qualifications ltd."
    }
  },
  rows: [
    {
      key: {
        text: "Name of organisation"
      },
      value: {
        text: "Advanced Qualifications ltd."
      }
    },
    {
      key: {
        text: "Type of conflict"
      },
      value: {
        text: "I work for an Awarding Organisation as an external consultant or advisor"
      }
    },
    {
      key: {
        text: "Details of conflict"
      },
      value: {
        text: "I work for an awarding organisation, but I am not employed. I am contracted externally. I am training, assessor, and examiner for the qualification they award. I would put the detail of the years I was an assessor for them and if I am no longer doing any work for them I'd make it clear I haven't and don't do any work for them etc."
      }
    },
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "June 2005"
      }
    },
    {
      key: {
        text: "Is this a current conflict of interest?"
      },
      value: {
        text: "No"
      }
    },
    {
      key: {
        text: "End date"
      },
      value: {
        text: "March 2015"
      }
    }
  ]
}) }}
<form class="form" action="/new/conflicts-complete" method="post">
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{{ govukRadios({
  name: "ConflictsCorrect",
  fieldset: {
    legend: {
      text: "Are these details correct?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes, these details are correct"
    },
    {
      value: "no",
      text: "No, update or add another conflict"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

</form>

</div>
</div>
{% endblock %}