{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% set navigationItems = [
  {
    href: "/home.html",
    text: 'Home',
    id: 'home'
  },{
    href: "/your-details/personal-information.html",
    text: 'Your details',
    id: 'your-details'
  },{
    href: "/applications/index",
    text: 'Applications',
    id: 'applications'
  },{
    href: "/messages/index",
    text: 'Messages',
    id: 'messages'
  },{
    href: "/projects",
    text: 'Projects',
    id: 'projects'
  }]
%} 
{% set activeLinkId = "applications" %}
{% set signOutLink = "/index" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {{ xGovukSubNavigation({
      visuallyHiddenTitle: "Navigation",
      items: [{
        text: "Your Applications",
        href: "/applications/index"
      }, {
        text: "Outcomes by subject",
        href: "/applications/outcomes"
      }, {
        text: "Approved areas",
        href: "/applications/approved-areas"
      }, {
        text: "Start another application",
        href: "/applications/new",
        current: true
      }]
    }) }}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Reapply for previously unsuccessful areas</span>
    <h1 class="govuk-heading-l">Select which areas you want to reapply for</h1>
    <form class="form" action="/new/reapply-activities-1" method="post">
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "reapplySubject1",
  fieldset: {
    legend: {
      text: "Management and leadership",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Vocational-related qualification"
  },
  items: [
    {
      value: "level 6",
      text: "Level 6"
    },
    {
      value: "level 7",
      text: "Level 7"
    }
  ]
}) }}

{{ govukCheckboxes({
  name: "reapplySubject2",
  fieldset: {
    legend: {
      text: "Management and leadership",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "T-level"
  },
  items: [
    {
      value: "level 3",
      text: "Level 3"
    }
  ]
}) }}
      
      {% from "govuk/components/button/macro.njk" import govukButton %}
      
      {{ govukButton({
        text: "Save and continue"
      }) }}
      
      </form>

  </div>
</div>

{% endblock %}
