{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% set navigationItems = [
  {
    href: "/home.html",
    text: 'Home',
    id: 'home'
  },{
    href: "/your-details/personal-information.html",
    text: 'Your details',
    id: 'your-details'
  },{
    href: "/applications/index",
    text: 'Applications',
    id: 'applications'
  },{
    href: "/messages/index",
    text: 'Messages',
    id: 'messages'
  },{
    href: "/projects",
    text: 'Projects',
    id: 'projects'
  }]
%} 
{% set activeLinkId = "applications" %}
{% set signOutLink = "/index" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {{ xGovukSubNavigation({
      visuallyHiddenTitle: "Navigation",
      items: [{
        text: "Your Applications",
        href: "/applications/index"
      }, {
        text: "Outcomes by subject",
        href: "/applications/outcomes"
      }, {
        text: "Approved areas",
        href: "/applications/approved-areas"
      }, {
        text: "Start another application",
        href: "/applications/new",
        current: true
      }]
    }) }}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Vocationally-related qualification - level 7</span>
    <h1 class="govuk-heading-l">Management and Leadership</h1>
    <form class="form" action="/new/reapply-activities-3" method="post">
      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="Assessment options">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Assessment
        </h2>
      </legend>
      <div id="assessment-expertise-hint" class="govuk-hint">
        Designing and developing, marking, standardising, moderating and researching assessment policy and practice in this subject
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="reapplyAssessmentDesign" name="reapplyAssessmentDesign" type="checkbox" value="reapplyAssessmentDesign" aria-describedby="assessment-item-hint">
          <label class="govuk-label govuk-checkboxes__label" for="nationality">
            Designing and developing assessments
            <strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>
          </label>
          <div id="assessment-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Designing the assessment approach, writing question papers, designing mark schemes or assessment criteria
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="reapplyAssessmentMaking" name="reapplyAssessmentMaking" type="checkbox" value="reapplyAssessmentMaking">
          <label class="govuk-label govuk-checkboxes__label" for="reapplyAssessmentMaking">
            Making assessment judgements
            <strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>
          </label>
          <div id="Making-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Marking assessments, standardising or moderating the marking of others
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="reapplyAssessmentStandards" name="reapplyAssessmentStandards" type="checkbox" value="reapplyAssessmentStandards">
          <label class="govuk-label govuk-checkboxes__label" for="addEdMgt">
            Standard setting and awarding qualifications
            <strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>
          </label>
          <div id="Standards-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Reviewing marked scripts to determine grade boundaries, setting grade standards for qualification outcomes, reviewing qualification standards over time
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="reapplyAssessmentEvaluating" name="reapplyAssessmentEvaluating" type="checkbox" value="reapplyAssessmentEvaluating">
          <label class="govuk-label govuk-checkboxes__label" for="reapplyAssessmentEvaluating">
            Evaluating assessments or assessment approaches
            <strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>
          </label>
          <div id="addeval-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Reviewing the performance of assessments, experience evaluating assessment approaches
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="Industry, occupational or professional">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Industry, occupational or professional
        </h2>
      </legend>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="reapplyIndustryExpertise" name="reapplyIndustryExpertise" type="checkbox" value="industry" aria-describedby="industry-item-hint">
          <label class="govuk-label govuk-checkboxes__label" for="reapplyIndustry">
            Industry, occupational or professional
            <strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>
          </label>
          <div id="industry-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Experience, specific knowledge and skills, understanding of standards, technologies and procedures
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="Teaching, lecturing and training options">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Teaching, lecturing and training
        </h2>
      </legend>
      <div id="teaching-expertise-hint" class="govuk-hint">
        Developing classroom materials, training others, knowledge of specifications and qualification standards in this subject, management of curriculum areas and organisation.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="reapplyTeachingExpertise1" name="reapplyTeachingExpertise" type="checkbox" value="teachingLecturing" aria-describedby="teaching-item-hint">
          <label class="govuk-label govuk-checkboxes__label" for="nationality">
            Teaching or lecturing
            <strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>
          </label>
          <div id="teaching-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Experience in schools, colleges, further education or higher education
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="reapplyTeachingExpertise2" name="reapplyTeachingExpertise" type="checkbox" value="teacherTraining">
          <label class="govuk-label govuk-checkboxes__label" for="addTeachTraining">
            Teacher training
            <strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>
          </label>
          <div id="addTeachTraining-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Teaching on a PGCE or similar course, tutoring, mentoring trainee teachers or trainers.
          </div>
        </div>
      </div>
    </fieldset>
  </div>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      
      {{ govukButton({
        text: "Save and continue"
      }) }}
      
      </form>

  </div>
</div>

{% endblock %}
