{% from "./task-tag.html" import appTaskTag %}

<li class="app-task-list__item">
  <span class="app-task-list__task-name">
    {% if params.taskName == 'canNotStartYet'  %}
      {{ params.name }}
      {% if params.hint %}
        <br><span class="govuk-hint">{{ params.hint }}</span>
      {% endif %}
    {% elseif params.taskName == 'inProgress'  %}
      <a href="{{ params.href }}/review">
        {{ params.name }}
      </a>
    {% elseif params.taskName == 'complete'  %}
      <a href="{{ params.href }}/review">
        {{ params.name }}
      </a>
    {% else %}
      <a href="{{ params.href }}">
        {{ params.name }}
      </a>
    {% endif %}
  </span>
  {{ appTaskTag(params.taskName) }}
</li>
